html,
body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: linear-gradient(lightgrey, white);
	font-family: "Verdana", "Geneva", "sans-serif";
	font-size: 12pt;
	font-weight: 300;
	color: whitesmoke;
}

#eventList {
	background: lightgrey;
}

#dormitoryList {
	background: lightgrey;
}

h1,
h2 {
	margin: 0;
	padding: 0;
	font-weight: lighter;
	color: dark blue;
	position: relative;
	text-align: center;
}

p,
ul {
	margin-top: 0;
}

p {
	line-height: 180%;
	text-align: center;
}

#header {
	position: relative;
	float: center;
	width: 300px;
	padding: 3em 0em;
}

#banner {
	margin-bottom: 4em;
}

#menu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#menu li {
	border-top: 1px solid rgba(26, 20, 20, 0.08);
}

#menu li,
#menu li span {
	display: block;
	padding: 2em 1.5em;
	text-align: center;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(3, 3, 3, 0.863);
	font-weight: lighter;
}

#main {
	overflow: hidden;
	float: center;
	padding: 3em 50px 5em 50px;
	background: #FFF;
	border-top: 6px solid #292b2c;
	text-align: center;
}

#frontpageheadline {
	font-family: 'Gill Sans';
	font-size: 120px;
	text-align: center;
	color: white;
	position: relative;
	right: 40px;
}

#smalltext {
	font-family: 'Gill Sans';
	font-size: 20px;
	color: white;
}

@keyframes fadeIn {
	from { opacity: 0; margin-left: -1em; }
	to { opacity: 1; margin-left: 0; }
  }

#guestlist-window #comment-window {
	height: inherit;
	overflow: auto;
}

.commentInput {
	height: 10vh;
}

.hidden {
	display: none;
}

#eventdescription
{
	margin: 0;
	padding: 0;
	font-weight: lighter;
	color: dark blue;
	position: relative;
	text-align: center;
}
